<!DOCTYPE html>
<meta charset="utf-8">

<!-- Load d3.js -->
<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>

<!-- Create a div where the graph will take place -->
<div id="my_dataviz"></div>

<script>

fetch("{{ url_for('data', number=number, address=address) }}").then(function(response) {
  return response.json();
}).then(function(data) {
  console.log(data);
}).catch(function() {
  console.log("Booo");
});

new Chart("myChart", {
  type: "scatter",
  data: {
    datasets: [{
      pointRadius: 4,
      pointBackgroundColor: "rgba(0,0,255,1)",
      data: data
    }]
  },
  options:{...}
});

</script>