{% extends 'base.html' %}

{% block content %}
<h1>Issue #{{ details['number'] }}</h1>

{% set github_url = 'https://github.com/helium/denylist/issues/' ~ details['number'] %}
<a href="{{ github_url }}">View on Github</a>

<h2>{{ details ['title'] }}</h2>
<h3><a href="{{ url_for('user', user_id=details['user']) }}">{{ details['user'] }}</a></h3>

<ul>
    <li><b>Type: {{ details['issue_type'] }}</b></li>
    <li>Labels: {{ details['labels'] }}</li>
    <li>Created At: {{ details['created_at'] }}</li>
</ul>

<h3>Submission Entries</h3>
<ul>
{% for entry in entries %}
    <li><a href="{{ url_for('entry', number=details['number'], address=entry) }}">{{ entry }}</a></li>
{% endfor %}
</ul>
{% endblock %}